.ideas{
    height: 20vh;
    width: 14vw;
    border-radius: 8px;
    background-color: rgb(243, 209, 165);
    box-shadow: 2px 2px 2px rgba(255,255,255,0.7),
                    -2px -2px 2px rgba(0,0,0,0.3);
}
.ideasID{
    height: 3.5vh;
    width: 6vw;
    background-color: antiquewhite;
    border-radius: 3px;
    position: relative;
    left: 1vh;
    top: 1vh;
}
.ideasID:hover{
    box-shadow: 2px 2px 2px rgba(255,255,255,0.7),
    -2px -2px 2px rgba(0,0,0,0.3);
}
.ideas input{
    width: 12.5vw;
    height: 12vh;
    margin-left: 5.5px;
    border-radius: 8px;
    margin-top: 2vh;
    outline: none;
    border: none;
    background-color: antiquewhite;
}
#delete-ideas{
    position: relative;
    margin-left: 11.5vw;
    bottom: 16.8vh;
    color: rgb(70, 66, 66);
}